$swCmsBlockCommerceCategoryGridGutter: 20px;

.sw-cms-block-category-grid {
    font-size: 0;
    width: calc(100% + #{$swCmsBlockCommerceCategoryGridGutter * 2});
    margin-left: -$swCmsBlockCommerceCategoryGridGutter;
}
