{% block sw_cms_block_category_grid %}
    <div class="sw-cms-block-category-grid">
        <slot name="categoryGrid">{% block sw_cms_block_category_grid_grid %}{% endblock %}</slot>
    </div>
{% endblock %}
