{% block sw_cms_element_textarea_preview %}
    <div class="sw-cms-el-preview-textarea">
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
        </p>
    </div>
{% endblock %}
