{% block sw_cms_block_masonry_galerie %}
    <div class="sw-cms-block-masonry-galerie">
        <slot name="left-top">{% block sw_cms_block_masonry_galerie_slot_left_top %}{% endblock %}</slot>
        <slot name="center-top-left">{% block sw_cms_block_masonry_galerie_slot_center_top_left %}{% endblock %}</slot>
        <slot name="center-top-right">{% block sw_cms_block_masonry_galerie_slot_center_top_right %}{% endblock %}</slot>
        <slot name="right-top">{% block sw_cms_block_masonry_galerie_slot_right_top %}{% endblock %}</slot>
        <slot name="left-bottom">{% block sw_cms_block_masonry_galerie_slot_left_bottom %}{% endblock %}</slot>
        <slot name="center-bottom-left">{% block sw_cms_block_masonry_galerie_slot_center_bottom_left %}{% endblock %}</slot>
        <slot name="center-bottom-right">{% block sw_cms_block_masonry_galerie_slot_center_bottom_right %}{% endblock %}</slot>
        <slot name="right-bottom">{% block sw_cms_block_masonry_galerie_slot_right_bottom %}{% endblock %}</slot>
        <slot name="last">{% block sw_cms_block_masonry_galerie_slot_last %}{% endblock %}</slot>
    </div>
{% endblock %}
