.sw-cms-block-masonry-galerie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 200px);
    grid-auto-flow: dense;
    padding: 0px;
    margin:0;

    >div {
        padding: 0.5rem;
        background-color: #efefef;
        border-radius: 3px;
        overflow:hidden;
    }
    >div:nth-child(1),
    >div:nth-child(9),
    span-2{
        grid-column-end: span 2;
        grid-row-end: span 1;
    }
    >div:nth-child(4),
    >div:nth-child(7),
    .colspan-2 {
        grid-column-end: span 1;
        grid-row-end: span 2;
    }

    >div:nth-child(5),
    .square{
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}
