.sw-cms-preview-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    width: 100%;
    position: relative;
    padding: 20px 10px;
}

.sw-cms-preview-header-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.3);
    }
}

.sw-cms-preview-header-text {
    position: relative;
    max-width: 200px;
    padding: 0 10px;
    text-align: center;
    z-index: 1;
    color: #fff;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    line-height: 1;
}

.sw-cms-preview-header-title {
    font-size: 16px;
    line-height: 18px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.sw-cms-preview-header-description {
    font-size: 12px;
    line-height: 14px;
}

.sw-cms-preview-header-button {
    display: inline-block;
    font-size: 8px;
    line-height: 1.2;
    padding: 5px;
    min-width: 80px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;

    &:not(:first-child) {
        margin-top: 20px;
    }
}
