{% block sw_cms_preview_header %}
    <div class="sw-cms-preview-header">
        <div class="sw-cms-preview-header-background">
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>

        <div class="sw-cms-preview-header-text">
            <div class="sw-cms-preview-header-title">
                Lorem Ipsum
            </div>

            <div class="sw-cms-preview-header-description">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
            </div>

            <br/>

            <div class="sw-cms-preview-header-button">
                Mehr erfahren
            </div>
        </div>
    </div>
{% endblock %}
