{% block sw_cms_el_config_memo_category_navigation %}
    <sw-tabs class="sw-cms-el-config-button__tabs" defaultItem="content">
        <template slot-scope="{ active }" >
            {% block sw_cms_el_config_button_tab_content %}
                <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.content')"
                              name="content"
                              :activeTab="active">
                    {{ $tc('sw-cms.elements.general.config.tab.content') }}
                </sw-tabs-item>
            {% endblock %}
            {% block sw_cms_el_button_config_tab_options %}
                <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.settings')"
                              name="settings"
                              :activeTab="active">
                    {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                </sw-tabs-item>
            {% endblock %}
        </template>

        <template slot="content" slot-scope="{ active }">
            {% block sw_cms_el_config_memo_category_navigation_content %}
                <sw-container v-if="active === 'content'" class="sw-cms-el-config-memo-category-navigation">
                    <div class="sw-category-tree">
                        <sw-tree class="sw-category-tree__inner"
                                 v-if="!isLoadingInitialData"
                                 :items="categories"
                                 :sortable="false"
                                 :searchable="false"
                                 :disableContextMenu="() => {return true;}"
                                 @get-tree-items="onGetTreeItems"
                                 >
                            {% block sw_cms_el_config_memo_category_navigation_items %}
                                <template
                                    #items="{
                                treeItems,
                                sortable,
                                draggedItem,
                                onChangeRoute,
                                disableContextMenu
                            }">
                                    <sw-tree-item
                                        v-for="item in treeItems"
                                        :key="item.id"
                                        :item="item"
                                        :active="item.active"
                                        :activeItemIds="activeCategories"
                                        :sortable="false"
                                        :disableContextMenu="disableContextMenu"
                                        @check-item="onCheckItem">
                                    </sw-tree-item>
                                </template>
                            {% endblock %}
                        </sw-tree>

                        <sw-loader v-else></sw-loader>
                    </div>
                </sw-container>
            {% endblock %}

            {% block sw_cms_el_config_memo_category_navigation_settings %}
                <sw-container v-if="active === 'settings'" class="sw-cms-el-config-button__tab-settings">
                    <sw-cms-mapping-field :label="$tc('sw-cms.elements.category-navigation.config.label.maxdepth')" valueTypes="number" v-model="element.config.maxdepth">
                        <sw-number-field v-model="element.config.maxdepth.value"
                                         @input="onInputMaxDepth"
                                         @blur="onBlurMaxDepth">
                        </sw-number-field>

                        <div class="sw-cms-el-config-button__mapping-preview" slot="maxdepth" slot-scope="{ demoValue }">
                            <div v-html="$sanitize(demoValue)"></div>
                        </div>
                    </sw-cms-mapping-field>
                </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
{% endblock %}
