{% block layout_navigation_categories %}
    {% set maxNavigationDepth = maxNavigationDepth|default(3) %}
    {% set level = level|default(0) %}
    {% set id = childrenId|default(false) ? ' id="' ~ childrenId ~ '"' :  '' %}
    {% set randomHash = random() %}

    {% block layout_navigation_categories_list %}
        <ul class="category-navigation level-{{ level }}{{ childrenVisible|default(false) ? ' collapse show' : (level === 0 ? '' : ' collapse') }}"{{ id|raw }}>
            {% for category in navigationTree %}
                {% block layout_navigation_categories_list_entry %}
                    {% set hasChildren = level < maxNavigationDepth and category.children|length > 0 %}
                    {% set childrenId = 'memo-category-navigation-children-' ~ randomHash ~ '-' ~ loop.index0 %}
                    {% set childrenVisible = category.id is same as(activeResult.id) or category.id in activeResult.path %}

                    <li class="category-navigation-entry{% if childrenVisible %} children-visible{% endif %}">
                        {% block layout_navigation_categories_link_children %}
                            <div class="category-navigation-link-container{% if category.id is same as(activeResult.id) %} is-active{% endif %}{% if category.id in activeResult.path %} in-path{% endif %}">
                                {% if category.type == 'folder' %}
                                    <div class="category-navigation-link{% if category.id is same as(activeResult.id) %} is-active{% endif %}{% if category.id in activeResult.path %} in-path{% endif %}{% if hasChildren %} has-children{% endif %}">
                                {% else %}
                                    <a class="category-navigation-link{% if category.id is same as(activeResult.id) %} is-active{% endif %}{% if category.id in activeResult.path %} in-path{% endif %}{% if hasChildren %} has-children{% endif %}"
                                       href="{{ category_url(category) }}">
                                {% endif %}

                                {% block layout_navigation_categories_link_children_name %}
                                    <span class="category-navigation-link-inner">{{ category.translated.name }}</span>
                                {% endblock %}

                                {% if category.type == 'folder' %}
                                    </div>
                                {% else %}
                                    </a>
                                {% endif %}

                                {% if hasChildren %}
                                    <button data-toggle="collapse"
                                            data-target="#{{ childrenId }}"
                                            aria-controls="{{ childrenId }}"
                                            aria-expanded="{{ childrenVisible|default(false) ? 'true' : 'false' }}">
                                        {% sw_include "@Storefront/storefront/utilities/icon.html.twig" with { 'name': 'arrow-head-down', 'size': 'xs'} %}
                                    </button>
                                {% endif %}
                            </div>
                        {% endblock %}

                        {% block layout_navigation_categories_recoursion %}
                            {% if hasChildren %}
                                {% sw_include '@Storefront/storefront/layout/sidebar/memo-category-navigation.html.twig' with {
                                    navigationTree: category.children,
                                    activeResult: activeResult,
                                    level: level + 1,
                                    maxNavigationDepth: maxNavigationDepth,
                                    childrenId: childrenId,
                                    randomHash: randomHash,
                                    childrenVisible: childrenVisible
                                } only %}
                            {% endif %}
                        {% endblock %}
                    </li>
                {% endblock %}
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}
