{% block sw_cms_block_small_image_text_reversed %}
    <div class="sw-cms-block-small-image-text-reversed">
        <div class="sw-cms-block-small-image-text-reversed-text">
            <div class="sw-cms-block-small-image-text-reversed-text-title">
                <slot name="title">{% block sw_cms_block_small_image_text_reversed_slot_title %}{% endblock %}</slot>
            </div>

            <div class="sw-cms-block-small-image-text-reversed-text-description">
                <slot name="description">{% block sw_cms_block_small_image_text_reversed_slot_description %}{% endblock %}</slot>
            </div>
        </div>

        <div class="sw-cms-block-small-image-text-reversed-image-outer">
            <div class="sw-cms-block-small-image-text-reversed-image">
                <div class="sw-cms-block-small-image-text-reversed-image-inner">
                    <slot name="image">{% block sw_cms_block_small_image_text_reversed_slot_image %}{% endblock %}</slot>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
