@import "~scss/variables";

.sw-cms-el-textarea {
    height: 100%;
    position: relative;
    width: 100%;
    word-break: break-word;

    .sw-field {
        margin-bottom: 0;
    }

    .sw-block-field__block {
        border: none;
        border-radius: 0;
    }

    .sw-field.sw-block-field.sw-field--textarea textarea {
        background-color: transparent;
        padding: 0;
        resize: none;
    }
}
