.sw-cms-preview-small-image-text {
    font-size: 0px;
    padding: 15px;
}

.sw-cms-preview-small-image-text-image-outer {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.sw-cms-preview-small-image-text-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.sw-cms-preview-small-image-text-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.sw-cms-preview-small-image-text-text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding-left: 15px;
}
