{% block sw_cms_block_small_image_text_preview %}
    <div class="sw-cms-preview-small-image-text">
        <div class="sw-cms-preview-small-image-text-image-outer">
            <div class="sw-cms-preview-small-image-text-image">
                <div class="sw-cms-preview-small-image-text-image-inner" v-bind:style="{ backgroundImage: 'url(' + '/bundles/administration/static/img/cms/preview_mountain_small.jpg' + ')'}">
                </div>
            </div>
        </div>

        <div class="sw-cms-preview-small-image-text-text">
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
    </div>
{% endblock %}
