{% block sw_cms_block_memo_category_navigation %}
    <div class="sw-cms-block-memo-category-navigation">
        <slot name="categoryNavigation">{% block sw_cms_block_memo_category_navigation_navigation %}{% endblock %}</slot>
    </div>
{% endblock %}
