{%- set link = element.config.link.value -%}
{%- set text = element.config.content.value -%}
{%- set buttonStyle = buttonStyle|default('primary') -%}

{%- if link != '' and text != '' -%}
    <a href="{{ link }}" class="memo-custom-cms-button btn btn-{{ buttonStyle }}">
        {{ text }}
    </a>
{%- endif -%}
