{% block cms_element_memo_category_navigation %}
    {% apply spaceless %}
        {% set categories = [] %}
        {% set maxNavigationDepth = element.config.maxdepth.value|default(3) %}

        {# Remove the secure array item, which is used to make sure, that the array is never completely empty, as this would break the saving in backend. #}
        {% for key, category in element.config.content.value %}
            {% if key != 'secure' %}
                {% set categories = categories|merge([key]) %}
            {% endif %}
        {% endfor %}

        {% set navigationTree = categories|load_navigation_tree(maxNavigationDepth, context.context) %}

        {% if navigationTree|length == 1 %}
            {% set navigationTree = navigationTree|first.children %}
        {% endif %}
    {% endapply %}

    <div class="cms-element-{{ element.type }}">
        <div class="category-navigation-box" data-memo-collapse>
            {% sw_include '@Storefront/storefront/layout/sidebar/memo-category-navigation.html.twig' with {
                navigationTree: navigationTree,
                activeResult: page.header.navigation.active,
                maxNavigationDepth: maxNavigationDepth
            } only %}
        </div>
    </div>
{% endblock %}
