{%- set text = element.config.content.value -%}
{%- set textStyle = textStyle|default('') -%}
{%- set textStyle = textStyle ? ' ' ~ textStyle : textStyle -%}

{%- if text != '' -%}
    <div class="memo-custom-cms-header-description{{ textStyle }}">
        {{ text|nl2br }}
    </div>
{%- endif -%}
