{%- set text = element.config.content.value -%}
{%- set textStyle = textStyle|default('') -%}
{%- set textStyle = textStyle ? ' ' ~ textStyle : textStyle -%}

{%- if text != '' -%}
    {% set headline = element.config.headline.value|default('h1') %}
    {% set headlineStyle = element.config.headlineStyle.value|default('') %}
    {% set headlineStyle = headlineStyle ? ' ' ~ headlineStyle : '' %}

    <{{ headline }} class="memo-custom-cms-textline{{ headlineStyle ~ textStyle }}">
        {{ text }}
    </{{ headline }}>
{%- endif -%}
