{% block element_category_grid %}
    {% set items = element.config.content.value %}
    {% set itemCount = element.config.itemCount.value|default(4) %}

    {% apply spaceless %}
        {% set categoryIds = [] %}

        {% for key, item in items|default([]) %}
            {% if key != 'secure' %}
                {% set categoryIds = categoryIds|merge([item.id]) %}
            {% endif %}
        {% endfor %}

        {% if categoryIds|length %}
            {% set categories = categoryIds|load_categories(context.context) %}
        {% elseif page.header.navigation.active.id|default(false) %}
            {% set categories = [page.header.navigation.active.id]|load_navigation_tree(2, context.context)|first.getChildren()|default([]) %}
        {% endif %}
    {% endapply -%}

    {% if categories|default(false) %}
        <div class="memo-custom-cms-category-grid-container memo-custom-cms-category-grid-container-size--{{ itemCount }}">
            <div class="memo-custom-cms-category-grid">
                {% block element_category_grid_item %}
                    {%- for category in categories  %}
                        {% if category.active %}
                            {% apply spaceless %}
                                {% set description = category.metaDescription|default(category.description) %}
                                {% set title = category.name|default(category.name) %}
                                {% set media = category.media|default() %}
                                {% set media = (category.mediaId and not media) ? category.mediaId|load_media(context.context) : media %}
                                {% set styles = [] %}
                                {% set style = '' %}

                                {% if category.translated.customFields|length > 0 and category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_image_position|default(false) %}
                                    {% set styles = styles|merge(
                                        {
                                            'object-position': category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_image_position
                                        }
                                    ) %}
                                {% endif %}

                                {% if category.translated.customFields|length > 0 and category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_image_fit|default(false) %}
                                    {% set styles = styles|merge(
                                        {
                                            'object-fit': category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_image_fit
                                        }
                                    ) %}
                                {% endif %}

                                {% if category.translated.customFields|length > 0 and category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_description|default(false) %}
                                    {% set description = category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_description %}
                                {% endif %}

                                {% if category.translated.customFields|length > 0 and category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_title|default(false) %}
                                    {% set title = category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_title %}
                                {% endif %}

                                {% if category.translated.customFields|length > 0 and category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_image|default(false) %}
                                    {% set media = category.translated.customFields.memo_custom_cms_blocks_fields_category_category_grid_image|load_media(context.context) %}
                                {% endif %}

                                {% set description = description|striptags('<br><b>')  %}

{#                                {%- if description|length > 100 -%}#}
{#                                    {%- set description = description|slice(0, 99) ~ '...' -%}#}
{#                                {%- endif -%}#}

                                {% if styles|length %}
                                    {% for key, styleItem in styles %}
                                        {% set style = style ~ key ~ ': ' ~ styleItem ~ ';' %}
                                    {% endfor %}
                                {% endif %}

                                {% set attributes = {
                                    'style': style
                                } %}

                                {% if category.translated.name|default('') %}
                                    {% set attributes = attributes|merge({'alt': category.translated.name}) %}
                                {% endif %}
                            {% endapply %}

                            {% set sizes = {
                                'xs': '521px',
                                'sm': '315px',
                                'md': '427px',
                                'lg': '333px',
                                'xl': '284px',
                            } %}

                            {% if itemCount == 1 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '937px',
                                    'xl': '1400px',
                                } %}
                            {% elseif itemCount == 2 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '326px',
                                    'xl': '670px',
                                } %}
                            {% elseif itemCount == 3 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '326px',
                                    'xl': '427px',
                                } %}
                            {% elseif itemCount == 5 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '286px',
                                    'xl': '232px',
                                } %}
                            {% elseif itemCount == 6 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '286px',
                                    'xl': '184px',
                                } %}
                            {% elseif itemCount == 7 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '286px',
                                    'xl': '149px',
                                } %}
                            {% elseif itemCount == 8 %}
                                {% set sizes = {
                                    'xs': '521px',
                                    'sm': '521px',
                                    'md': '713px',
                                    'lg': '286px',
                                    'xl': '123px',
                                } %}
                            {% endif %}

                            {% if category.type == 'folder' %}
                                <div class="memo-custom-cms-category-grid-item">
                            {% else %}
                                <a href="{{ category_url(category) }}"
                                   class="memo-custom-cms-category-grid-item">
                            {% endif %}
                                <div class="memo-custom-cms-category-grid-item-inner">
                                    <div class="memo-custom-cms-category-grid-item-top">
                                        {% block element_category_grid_media %}
                                            <div class="memo-custom-cms-category-grid-item-image">
                                                {% if media %}
                                                    {% sw_thumbnails 'my-thumbnails' with {
                                                        media: media,
                                                        sizes: sizes,
                                                        attributes: attributes
                                                    } %}
                                                {% endif %}
                                            </div>
                                        {% endblock %}

                                        {% block element_category_grid_description %}
                                            {% if itemCount < 6 %}
                                                <div class="memo-custom-cms-category-grid-item-description">
                                                    <div class="memo-custom-cms-category-grid-item-description-inner">
                                                        {{ description|raw }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endblock %}
                                    </div>

                                    {% block element_category_grid_title %}
                                        <div class="memo-custom-cms-category-grid-item-title">
                                            {{ title }}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% if category.type == 'folder' %}
                                </div>
                            {% else %}
                                </a>
                            {% endif %}
                        {% endif %}
                    {%- endfor %}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}
