{% block sw_cms_preview_memo_category_navigation %}
    <div class="sw-cms-preview-memo-category-navigation">
        <div class="sw-cms-block-category-placeholder-listing">
            <h2>Memo Navigation</h2>
            <hr>
            <div class="sw-cms-block-memo-category-navigation__placeholder"></div>
            <hr>
            <div class="sw-cms-block-memo-category-navigation__placeholder"></div>
            <div class="sw-cms-block-memo-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-block-memo-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-block-memo-category-navigation__placeholder--subcategory"></div>
            <hr>
        </div>
    </div>
{% endblock %}
