.sw-cms-block-two-small-top-images-text {
    font-size: 0px;
    padding: 15px;

    .row {
        font-size: 0;
        margin: 0 -10px;
        text-align: center;
    }

    .col-6 {
        display: inline-block;
        width: 33.33%;
        padding: 0 10px;
    }
}

.sw-cms-block-two-small-top-images-text-image-outer {
    width: 100%;
}

.sw-cms-block-two-small-top-images-text-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.sw-cms-block-two-small-top-images-text-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .sw-cms-el-image {
        min-height: 0 !important;
        overflow: hidden;
    }
}

.sw-cms-block-two-small-top-images-text .sw-cms-block-two-small-top-images-text-text {
    width: 100%;
    padding-top: 20px;

    .sw-cms-block-two-small-top-images-text-text-title {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .sw-field.sw-block-field textarea {
        min-height: 70px;
        resize: vertical;
    }

    .sw-cms-el-textline input {
        font-size: 24px;
        line-height: 33px;
        font-weight: 600;
        color: #52667a;
        letter-spacing: 0;
    }

    .sw-cms-el-textarea textarea {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #52667a;
        letter-spacing: 0;
    }
}
