{% block sw_cms_block_two_small_top_images_text %}
    <div class="sw-cms-block-two-small-top-images-text">
        <div class="row">
            <div class="col-6">
                <div class="sw-cms-block-two-small-top-images-text-image-outer">
                    <div class="sw-cms-block-two-small-top-images-text-image">
                        <div class="sw-cms-block-two-small-top-images-text-image-inner">
                            <slot name="image">{% block sw_cms_block_two_small_top_images_text_slot_image %}{% endblock %}</slot>
                        </div>
                    </div>
                </div>

                <div class="sw-cms-block-two-small-top-images-text-text">
                    <div class="sw-cms-block-two-small-top-images-text-text-title">
                        <slot name="title">{% block sw_cms_block_two_small_top_images_text_slot_title %}{% endblock %}</slot>
                    </div>

                    <div class="sw-cms-block-two-small-top-images-text-text-description">
                        <slot name="description">{% block sw_cms_block_two_small_top_images_text_slot_description %}{% endblock %}</slot>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="sw-cms-block-two-small-top-images-text-image-outer">
                    <div class="sw-cms-block-two-small-top-images-text-image">
                        <div class="sw-cms-block-two-small-top-images-text-image-inner">
                            <slot name="image2">{% block sw_cms_block_two_small_top_images_text_slot_image2 %}{% endblock %}</slot>
                        </div>
                    </div>
                </div>

                <div class="sw-cms-block-two-small-top-images-text-text">
                    <div class="sw-cms-block-two-small-top-images-text-text-title">
                        <slot name="title2">{% block sw_cms_block_two_small_top_images_text_slot_title2 %}{% endblock %}</slot>
                    </div>

                    <div class="sw-cms-block-two-small-top-images-text-text-description">
                        <slot name="description2">{% block sw_cms_block_two_small_top_images_text_slot_description2 %}{% endblock %}</slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
