{% block sw_cms_element_textline %}
    <div class="sw-cms-el-textline">
        <div class="sw-cms-el-textline__mapping-preview content-editor"
             v-html="$sanitize(demoValue)"
             v-if="element.config.content.source === 'mapped'">
        </div>

        <sw-text-field v-else
                        :disabled="disabled"
                        v-model="element.config.content.value"
                        @blur="onBlur"
                        @input="onInput"
                        :verticalAlign="element.config.verticalAlign.value"
                        :isInlineEdit="true">
        </sw-text-field>
    </div>
{% endblock %}
