@import "~scss/variables";

.sw-cms-el-textline {
    height: 100%;
    position: relative;
    width: 100%;
    word-break: break-word;

    .sw-block-field__block {
        border: none;
        border-radius: 0;
    }

    .sw-field {
        margin-bottom: 0;
    }

    input {
        padding: 0;
        background-color: transparent;
    }
}
