{% block sw_cms_element_memo_category_navigation %}
    <div class="sw-cms-el-category-navigation">
        <div class="sw-cms-el-category-navigation__content">
            <h2>Memo Navigation</h2>
            <hr>
            <div class="sw-cms-el-category-placeholder-listing">
                <div class="sw-cms-el-category-navigation__placeholder"></div>
                <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
                <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
                <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
                <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
                <hr>
                <div class="sw-cms-el-category-navigation__placeholder"></div>
                <hr>
                <div class="sw-cms-el-category-navigation__placeholder"></div>
            </div>
        </div>
    </div>
{% endblock %}
