.sw-cms-block-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    position: relative;
    padding: 40px 20px;
    overflow: hidden;

    .sw-cms-el-image,
    .sw-cms-el-image-slider__image-box {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.sw-cms-block-header-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.3);
        pointer-events: none;
    }
}

.sw-cms-block-header-text {
    position: relative;
    max-width: 440px;
    padding: 0 10px;
    text-align: center;
    z-index: 1;
    color: #fff;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    line-height: 1;
}

.sw-cms-block-header-title {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .sw-cms-el-textline input {
        font-size: 45px;
        line-height: 1.2;
        text-align: center;
        outline: none;
        color: #fff;
    }
}

.sw-cms-block-header-description {
    .sw-field.sw-block-field.sw-field--textarea textarea {
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
        text-align: center;
        outline: none;
    }
}

.sw-cms-block-header-button {
    &:not(:first-child) {
        margin-top: 40px;
    }
}
