{% block sw_cms_block_header %}
    <div class="sw-cms-block-header">
        <div class="sw-cms-block-header-background">
            {% block sw_cms_block_header_slot_background_image %}
                <slot name="backgroundImage"></slot>
            {% endblock %}
        </div>

        <div class="sw-cms-block-header-text">
            <div class="sw-cms-block-header-title">
                <slot name="title">{% block sw_cms_block_header_slot_title %}{% endblock %}</slot>
            </div>

            <div class="sw-cms-block-header-description">
                <slot name="description">{% block sw_cms_block_header_slot_description %}{% endblock %}</slot>
            </div>

            <br/>

            <div class="sw-cms-block-header-button">
                <slot name="button">{% block sw_cms_block_header_slot_button %}{% endblock %}</slot>
            </div>
        </div>
    </div>
{% endblock %}
