.sw-cms-preview-two-small-top-images-text {
    padding: 15px;

    .row {
        font-size: 0;
        margin: 0 -5px;
        text-align: center;
    }

    .col-6 {
        display: inline-block;
        width: 33.33%;
        padding: 0 5px;
    }
}

.sw-cms-preview-two-small-top-images-text-image-outer {
    width: 100%;
    vertical-align: middle;
}

.sw-cms-preview-two-small-top-images-text-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.sw-cms-preview-two-small-top-images-text-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.sw-cms-preview-two-small-top-images-text-text {
    width: 100%;
    padding-top: 15px;
}
