{% block sw_cms_block_small_image_text %}
    <div class="sw-cms-block-small-image-text">
        <div class="sw-cms-block-small-image-text-image-outer">
            <div class="sw-cms-block-small-image-text-image">
                <div class="sw-cms-block-small-image-text-image-inner">
                    <slot name="image">{% block sw_cms_block_small_image_text_slot_image %}{% endblock %}</slot>
                </div>
            </div>
        </div>

        <div class="sw-cms-block-small-image-text-text">
            <div class="sw-cms-block-small-image-text-text-title">
                <slot name="title">{% block sw_cms_block_small_image_text_slot_title %}{% endblock %}</slot>
            </div>

            <div class="sw-cms-block-small-image-text-text-description">
                <slot name="description">{% block sw_cms_block_small_image_text_slot_description %}{% endblock %}</slot>
            </div>
        </div>
    </div>
{% endblock %}
