.sw-cms-block-small-image-text {
    font-size: 0px;
    padding: 15px;
}

.sw-cms-block-small-image-text-image-outer {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.sw-cms-block-small-image-text-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.sw-cms-block-small-image-text-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .sw-cms-el-image {
        min-height: 0 !important;
        overflow: hidden;
    }
}

.sw-cms-block-small-image-text .sw-cms-block-small-image-text-text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding-left: 15px;

    .sw-cms-block-small-image-text-text-title {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .sw-field.sw-block-field textarea {
        min-height: 70px;
        resize: vertical;
    }

    .sw-cms-el-textline input {
        font-size: 24px;
        line-height: 33px;
        font-weight: 600;
        color: #52667a;
        letter-spacing: 0;
    }

    .sw-cms-el-textarea textarea {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #52667a;
        letter-spacing: 0;
    }
}
