.sw-cms-preview-masonry-galerie {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        grid-gap: 5px;
        grid-auto-rows: minmax(40px, 45px);
        grid-auto-flow: dense;
        padding: 10px;

        > div {
            padding: 1rem;
            background-color: #efefef;
            border-radius: 0px;
            overflow: hidden;
            position: relative;
            img {
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                left: 0;
                min-height: 100%;
                width: 100%;
                max-width: none;
                height: auto;
            }
        }

        >div {
            padding: 0.25rem;
            background-color: #efefef;
            border-radius: 3px;
            overflow:hidden;
        }
        >div:nth-child(1),
        >div:nth-child(9),
        span-2{
            grid-column-end: span 2;
            grid-row-end: span 1;
        }
        >div:nth-child(4),
        >div:nth-child(7),
        .colspan-2 {
            grid-column-end: span 1;
            grid-row-end: span 2;
        }

        >div:nth-child(5),
        .square{
            grid-column-end: span 2;
            grid-row-end: span 2;
        }
    }

