{% block sw_cms_preview_masonry_galerie %}
    <div class="sw-cms-preview-masonry-galerie">
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_plant_large.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <div>
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
        </div>
    </div>
{% endblock %}
