{% block sw_cms_element_category_grid %}
    <div :class="'sw-cms-el-category-grid-size--' + element.config.itemCount.value">
        <div class="sw-cms-el-category-grid-item" v-if="hasItem(0)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(0, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(1)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(1, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(2)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(2, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(3)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(3, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(4) && (element.config.itemCount.value == 4 || element.config.itemCount.value == 8 || element.config.itemCount.value == 7 || element.config.itemCount.value == 6 || element.config.itemCount.value == 3 || element.config.itemCount.value == 5)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(4, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(5) && (element.config.itemCount.value == 4 || element.config.itemCount.value == 8 || element.config.itemCount.value == 7 || element.config.itemCount.value == 6 || element.config.itemCount.value == 3)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(5, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(6) && (element.config.itemCount.value == 4 || element.config.itemCount.value == 8 || element.config.itemCount.value == 7)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(6, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>

        <div class="sw-cms-el-category-grid-item" v-if="hasItem(7) && (element.config.itemCount.value == 4 || element.config.itemCount.value == 8)">
            <div class="sw-cms-el-category-grid-item-inner">
                <div class="sw-cms-el-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-category-grid-item-title">
                    {{ getItemLabel(7, 'Lorem ipsum dolor') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
