$swCmsBlockCommerceCategoryGridGutter: 20px;

.sw-cms-el-category-grid-item {
    display: inline-block;
    width: 25%;
    padding: 0 $swCmsBlockCommerceCategoryGridGutter $swCmsBlockCommerceCategoryGridGutter;

    .sw-cms-el-category-grid-size--1 & {
        width: 100%;
    }

    .sw-cms-el-category-grid-size--2 & {
        width: 50%;
    }

    .sw-cms-el-category-grid-size--3 & {
        width: 33.3333%;
    }

    .sw-cms-el-category-grid-size--5 & {
        width: 20%;
    }

    .sw-cms-el-category-grid-size--6 & {
        width: 16.6666%;
    }

    .sw-cms-el-category-grid-size--7 & {
        width: 14.285%;
    }

    .sw-cms-el-category-grid-size--8 & {
        width: 12.5%;
    }
}

.sw-cms-el-category-grid-item-inner {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

.sw-cms-el-category-grid-item-image {
    width: 100%;
    height: 115px;

    .sw-cms-el-category-grid-size--1 & {
        height: 200px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sw-cms-el-category-grid-item-title {
    padding: 10px 5px 0;
}
