@import "~scss/variables";

.sw-cms-el-button {
    position: relative;
    word-break: break-word;
    display: inline-block;
    padding: 8px 12px;
    min-width: 140px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;

    .sw-block-field__block {
        border: none;
        border-radius: 0;
    }

    .sw-field {
        margin-bottom: 0;
    }

    input {
        padding: 0;
        background-color: transparent;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 1.2;
        outline: none;
    }
}
