$swCmsPreviewCommerceCategoryGridGutter: 3px;

.sw-cms-el-preview-category-grid-container {
    font-size: 0;
    width: calc(100% + #{2 *$swCmsPreviewCommerceCategoryGridGutter});
    margin-left: -$swCmsPreviewCommerceCategoryGridGutter;
}

.sw-cms-el-preview-category-grid-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 $swCmsPreviewCommerceCategoryGridGutter $swCmsPreviewCommerceCategoryGridGutter;
}
.sw-cms-el-preview-category-grid-item-inner {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.sw-cms-el-preview-category-grid-item-image {
    width: 100%;
    height: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sw-cms-el-preview-category-grid-item-title {
    padding: 0;
    font-size: 6px;
    line-height: 1.2;
}
