{% block sw_cms_element_category_grid_preview %}
    <div class="sw-cms-el-preview-category-grid-container">
        <div class="sw-cms-el-preview-category-grid-item">
            <div class="sw-cms-el-preview-category-grid-item-inner">
                <div class="sw-cms-el-preview-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-preview-category-grid-item-title">
                    Lorem
                </div>
            </div>
        </div>

        <div class="sw-cms-el-preview-category-grid-item">
            <div class="sw-cms-el-preview-category-grid-item-inner">
                <div class="sw-cms-el-preview-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-preview-category-grid-item-title">
                    Ipsum
                </div>
            </div>
        </div>

        <div class="sw-cms-el-preview-category-grid-item">
            <div class="sw-cms-el-preview-category-grid-item-inner">
                <div class="sw-cms-el-preview-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-preview-category-grid-item-title">
                    Dolor
                </div>
            </div>
        </div>

        <div class="sw-cms-el-preview-category-grid-item">
            <div class="sw-cms-el-preview-category-grid-item-inner">
                <div class="sw-cms-el-preview-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-preview-category-grid-item-title">
                    Ipsum
                </div>
            </div>
        </div>

        <div class="sw-cms-el-preview-category-grid-item">
            <div class="sw-cms-el-preview-category-grid-item-inner">
                <div class="sw-cms-el-preview-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-preview-category-grid-item-title">
                    Dolor
                </div>
            </div>
        </div>

        <div class="sw-cms-el-preview-category-grid-item">
            <div class="sw-cms-el-preview-category-grid-item-inner">
                <div class="sw-cms-el-preview-category-grid-item-image">
                    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
                </div>

                <div class="sw-cms-el-preview-category-grid-item-title">
                    Lorem
                </div>
            </div>
        </div>
    </div>
{% endblock %}
