{% block sw_cms_element_memo_category_navigation %}
    <div class="sw-cms-el-preview-category-navigation">
        <p>Memo Navigation</p>
        <hr>
        <div class="sw-cms-el-category-placeholder-listing">
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <hr>
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
        </div>
    </div>
{% endblock %}
