{% block sw_cms_block_small_top_images_text_preview %}
    <div class="sw-cms-preview-small-top-images-text">
        <div class="row">
            <div class="col-4">
                <div class="sw-cms-preview-small-top-images-text-image-outer">
                    <div class="sw-cms-preview-small-top-images-text-image">
                        <div class="sw-cms-preview-small-top-images-text-image-inner" v-bind:style="{ backgroundImage: 'url(' + '/bundles/administration/static/img/cms/preview_mountain_small.jpg' + ')'}">
                        </div>
                    </div>
                </div>

                <div class="sw-cms-preview-small-top-images-text-text">
                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>

            <div class="col-4">
                <div class="sw-cms-preview-small-top-images-text-image-outer">
                    <div class="sw-cms-preview-small-top-images-text-image">
                        <div class="sw-cms-preview-small-top-images-text-image-inner" v-bind:style="{ backgroundImage: 'url(' + '/bundles/administration/static/img/cms/preview_mountain_small.jpg' + ')'}">
                        </div>
                    </div>
                </div>

                <div class="sw-cms-preview-small-top-images-text-text">
                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>

            <div class="col-4">
                <div class="sw-cms-preview-small-top-images-text-image-outer">
                    <div class="sw-cms-preview-small-top-images-text-image">
                        <div class="sw-cms-preview-small-top-images-text-image-inner" v-bind:style="{ backgroundImage: 'url(' + '/bundles/administration/static/img/cms/preview_mountain_small.jpg' + ')'}">
                        </div>
                    </div>
                </div>

                <div class="sw-cms-preview-small-top-images-text-text">
                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
