{% block block_memo_category_navigation %}
    {% set element = block.slots.getSlot('categoryNavigation') %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_memo_category_navigation_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
