{% block block_header %}
    <div class="memo-custom-cms-header">
        <div class="memo-custom-cms-header-background">
            {%- set bgImage = block.slots.getSlot('backgroundImage') -%}

            {%- block block_header_bg_image -%}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ bgImage.type ~ ".html.twig" ignore missing with {element: bgImage} %}
            {%- endblock -%}
        </div>

        <div class="memo-custom-cms-header-text">
            {% block block_header_title %}
                {% set element = block.slots.getSlot('title') %}

                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing with {buttonStyle: 'light', textStyle: 'text-light'} %}
            {% endblock %}

            {% block block_header_description %}
                {% set element = block.slots.getSlot('description') %}

                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing with {buttonStyle: 'light', textStyle: 'text-light'} %}
            {% endblock %}

            <br/>

            {% block block_header_button %}
                {% set element = block.slots.getSlot('button') %}

                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing with {buttonStyle: 'light', textStyle: 'text-light'} %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
