{% block block_image_text_reversed %}
    {% set columns = 2 %}
    {% set id = element.id %}

    {% block block_image_text_reversed_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="col-md-6" data-cms-element-id="{{ id }}">
            {% block block_image_text_reversed_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_reversed_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="col-md-6" data-cms-element-id="{{ id }}">
            {% block block_image_text_reversed_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
