{% block block_two_small_top_images_text %}
    {% set id = block.id %}

    <div class="col-12 memo-custom-cms-small-top-image-text memo-custom-cms-two-small-top-image-text" data-cms-element-id="{{ id }}">
        <div class="row">
            <div class="col-md-4 memo-custom-cms-small-top-image-text-item">
                {% block block_two_small_top_images_text_image %}
                    {% set element = block.slots.getSlot('image') %}

                    <div class="memo-custom-cms-small-top-image-text-image-wrapper">
                        <div class="memo-custom-cms-small-top-image-text-image">
                            <div class="memo-custom-cms-small-top-image-text-image-inner">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block block_two_small_top_images_text_text %}
                    <div class="memo-custom-cms-small-top-image-text-text">
                        {% block block_two_small_top_images_text_text_title %}
                            {% set element = block.slots.getSlot('title') %}

                            <div class="memo-custom-cms-small-top-image-text-text-title">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        {% endblock %}

                        {% block block_two_small_top_images_text_text_description %}
                            {% set element = block.slots.getSlot('description') %}

                            <div class="memo-custom-cms-small-top-image-text-text-description">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            <div class="col-md-4 memo-custom-cms-small-top-image-text-item">
                {% block block_two_small_top_images_text_image2 %}
                    {% set element = block.slots.getSlot('image2') %}

                    <div class="memo-custom-cms-small-top-image-text-image-wrapper">
                        <div class="memo-custom-cms-small-top-image-text-image">
                            <div class="memo-custom-cms-small-top-image-text-image-inner">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block block_two_small_top_images_text_text2 %}
                    <div class="memo-custom-cms-small-top-image-text-text">
                        {% block block_two_small_top_images_text_text_title2 %}
                            {% set element = block.slots.getSlot('title2') %}

                            <div class="memo-custom-cms-small-top-image-text-text-title">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        {% endblock %}

                        {% block block_two_small_top_images_text_text_description2 %}
                            {% set element = block.slots.getSlot('description2') %}

                            <div class="memo-custom-cms-small-top-image-text-text-description">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
