{% block block_masonry_galerie %}
    <div class="memo-custom-masonry_galerie">
        {% block block_masonry_galerie_slot_left_top %}
            {% set element = block.slots.getSlot('left-top') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_center_top_left %}
            {% set element = block.slots.getSlot('center-top-left') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_center_top_right %}
            {% set element = block.slots.getSlot('center-top-right') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_right_top %}
            {% set element = block.slots.getSlot('right-top') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_left_bottom %}
            {% set element = block.slots.getSlot('left-bottom') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_center_bottom_left %}
            {% set element = block.slots.getSlot('center-bottom-left') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_center_bottom_right %}
            {% set element = block.slots.getSlot('center-bottom-right') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_right_bottom %}
            {% set element = block.slots.getSlot('right-bottom') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
        {% block block_masonry_galerie_slot_last %}
            {% set element = block.slots.getSlot('last') %}
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        {% endblock %}
    </div>

{% endblock %}
