{% block block_category_grid %}
    {% set element = block.slots.getSlot('categoryGrid') %}

    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
{% endblock %}
