{% block block_small_image_text_reversed %}
    {% set id = block.id %}

    <div class="col-12 memo-custom-cms-small-image-text memo-custom-cms-small-image-text--reversed" data-cms-element-id="{{ id }}">
        {% block block_small_image_text_reversed_text %}
            <div class="memo-custom-cms-small-image-text-text">
                {% block block_small_image_text_reversed_text_title %}
                    {% set element = block.slots.getSlot('title') %}

                    <div class="memo-custom-cms-small-image-text-text-title">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}

                {% block block_small_image_text_reversed_text_description %}
                    {% set element = block.slots.getSlot('description') %}

                    <div class="memo-custom-cms-small-image-text-text-description">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block block_small_image_text_reversed_image %}
            {% set element = block.slots.getSlot('image') %}

            <div class="memo-custom-cms-small-image-text-image-wrapper">
                <div class="memo-custom-cms-small-image-text-image">
                    <div class="memo-custom-cms-small-image-text-image-inner">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
