$swCmsPreviewCommerceCategoryGridGutter: 10px;

.sw-cms-preview-category-grid {
    font-size: 0;
    width: calc(100% + #{$swCmsPreviewCommerceCategoryGridGutter * 2});
    margin-left: -$swCmsPreviewCommerceCategoryGridGutter;
    margin-bottom: -$swCmsPreviewCommerceCategoryGridGutter;
    padding: 15px;
}

.sw-cms-preview-category-grid-item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 $swCmsPreviewCommerceCategoryGridGutter $swCmsPreviewCommerceCategoryGridGutter;
}
.sw-cms-preview-category-grid-item-inner {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.sw-cms-preview-category-grid-item-image {
    width: 100%;
    height: 45px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sw-cms-preview-category-grid-item-title {
    padding: 5px 4px 0;
}
