{% block sw_cms_el_config_textarea %}
    <sw-tabs class="sw-cms-el-config-textarea__tabs" defaultItem="content">

        <template slot-scope="{ active }" >
            {% block sw_cms_el_config_textarea_tab_content %}
                <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.content')"
                              name="content"
                              :activeTab="active">
                    {{ $tc('sw-cms.elements.general.config.tab.content') }}
                </sw-tabs-item>
            {% endblock %}
            {% block sw_cms_el_textarea_config_tab_options %}
                <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.settings')"
                              name="settings"
                              :activeTab="active">
                    {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                </sw-tabs-item>
            {% endblock %}
        </template>

        <template slot="content" slot-scope="{ active }">
            {% block sw_cms_el_textarea_config_content %}
                <sw-container v-if="active === 'content'" class="sw-cms-el-config-textarea__tab-content">
                    <sw-cms-mapping-field :label="$tc('sw-cms.elements.textarea.config.label.content')" valueTypes="string" v-model="element.config.content">
                        <sw-textarea-field v-model="element.config.content.value"
                                        @input="onInput"
                                        @blur="onBlur">
                        </sw-textarea-field>

                        <div class="sw-cms-el-config-textarea__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                            <div v-html="$sanitize(demoValue)"></div>
                        </div>
                    </sw-cms-mapping-field>
                </sw-container>
            {% endblock %}

            {% block sw_cms_el_textarea_config_settings %}
                <sw-container v-if="active === 'settings'" class="sw-cms-el-config-textarea__tab-settings">
                    {% block sw_cms_el_textarea_config_settings_vertical_align %}
                        <sw-select-field :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                         v-model="element.config.verticalAlign.value"
                                         :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')">
                            <option value="flex-start">{{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}</option>
                            <option value="center">{{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}</option>
                            <option value="flex-end">{{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}</option>
                        </sw-select-field>
                    {% endblock %}
                </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
{% endblock %}
