{% block sw_cms_el_config_category_grid %}
    <sw-tabs class="sw-cms-el-config-textarea__tabs" defaultItem="categories">
        <template slot-scope="{ active }" >
            {% block sw_cms_el_config_textarea_tab_content %}
                <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.categories')"
                              name="categories"
                              :activeTab="active">
                    {{ $tc('sw-cms.elements.category-grid.config.tab.categories') }}
                </sw-tabs-item>
            {% endblock %}
            {% block sw_cms_el_textarea_config_tab_options %}
                <sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.settings')"
                              name="settings"
                              :activeTab="active">
                    {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                </sw-tabs-item>
            {% endblock %}
        </template>

        <template slot="content" slot-scope="{ active }">
            {% block sw_cms_el_textarea_config_content %}
                <sw-container v-if="active === 'categories'" class="sw-cms-el-config-textarea__tab-categories">
                    {% block sw_cms_el_config_category_grid_content %}
                        <sw-container class="sw-cms-el-config-category-grid">
                            <div class="sw-category-tree">
                                <sw-tree class="sw-category-tree__inner"
                                         v-if="!isLoadingInitialData"
                                         :items="categories"
                                         :sortable="false"
                                         :searchable="false"
                                         :disableContextMenu="() => {return true;}"
                                         @get-tree-items="onGetTreeItems"
                                >
                                    {% block sw_cms_el_config_category_grid_items %}
                                        <template
                                                #items="{
                        treeItems,
                        sortable,
                        draggedItem,
                        onChangeRoute,
                        disableContextMenu
                    }">
                                            <sw-tree-item
                                                    v-for="item in treeItems"
                                                    :key="item.id"
                                                    :item="item"
                                                    :active="item.active"
                                                    :activeItemIds="activeCategories"
                                                    :sortable="false"
                                                    :disableContextMenu="disableContextMenu"
                                                    @check-item="onCheckItem">
                                            </sw-tree-item>
                                        </template>
                                    {% endblock %}
                                </sw-tree>

                                <sw-loader v-else></sw-loader>
                            </div>
                        </sw-container>
                    {% endblock %}
                </sw-container>
            {% endblock %}

            {% block sw_cms_el_textarea_config_settings %}
                <sw-container v-if="active === 'settings'" class="sw-cms-el-config-textarea__tab-settings">
                    {% block sw_cms_el_textarea_config_settings_vertical_align %}
                        <sw-select-field :label="$tc('sw-cms.elements.category-grid.config.label.itemCount.title')"
                                         v-model="element.config.itemCount.value"
                                         :placeholder="$tc('sw-cms.elements.category-grid.config.label.itemCount.title')">
                            <option value="1">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.1') }}</option>
                            <option value="2">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.2') }}</option>
                            <option value="3">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.3') }}</option>
                            <option value="4">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.4') }}</option>
                            <option value="5">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.5') }}</option>
                            <option value="6">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.6') }}</option>
                            <option value="7">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.7') }}</option>
                            <option value="8">{{ $tc('sw-cms.elements.category-grid.config.label.itemCount.8') }}</option>
                        </sw-select-field>
                    {% endblock %}
                </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
{% endblock %}
