$memoCategoryGridGutter: 60px !default;
$memoCategoryGridImageProportions: 64.406% !default;
$memoCategoryGridTabletGutter: 40px !default;
$memoCategoryGridMobileGutter: 20px !default;
$memoCategoryGridCardBg: false !default;
$zen-product-listing-card-bg: false !default;
$sw-background-color: false !default;

@if $memoCategoryGridCardBg {
    // Do nothing because there has been a custom color set.
} @else if $zen-product-listing-card-bg {
    $memoCategoryGridCardBg: $zen-product-listing-card-bg;
} @else if $sw-background-color {
    $memoCategoryGridCardBg: $sw-background-color;
} @else {
    $memoCategoryGridCardBg: #fff;
}

.memo-custom-cms-category-grid-container {
    width: 100%;
}

.memo-custom-cms-category-grid {
    font-size: 0;
    width: calc(100% + #{$memoCategoryGridMobileGutter});
    margin-left: -#{$memoCategoryGridMobileGutter / 2};
    margin-bottom: -#{$memoCategoryGridMobileGutter};
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        width: calc(100% + #{$memoCategoryGridTabletGutter});
        margin-left: -#{$memoCategoryGridTabletGutter / 2};
        margin-bottom: -#{$memoCategoryGridTabletGutter};
    }

    @include media-breakpoint-up(lg) {
        width: calc(100% + #{$memoCategoryGridGutter});
        margin-left: -#{$memoCategoryGridGutter / 2};
        margin-bottom: -#{$memoCategoryGridGutter};
    }
}

.memo-custom-cms-category-grid-item {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 0;
    width: 100%;
    padding: 0 #{$memoCategoryGridMobileGutter / 2} $memoCategoryGridMobileGutter;
    max-width: 100%;

    @include media-breakpoint-up(md) {
        padding: 0 #{$memoCategoryGridTabletGutter / 2} $memoCategoryGridTabletGutter;
    }

    @include media-breakpoint-up(lg) {
        padding: 0 #{$memoCategoryGridGutter / 2} $memoCategoryGridGutter;
    }

    .memo-custom-cms-category-grid-container-size--2 & {
        @include media-breakpoint-up(md) {
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
        }
    }

    .memo-custom-cms-category-grid-container-size--3 &,
    .memo-custom-cms-category-grid-container-size--4 &,
    .memo-custom-cms-category-grid-container-size--5 &,
    .memo-custom-cms-category-grid-container-size--6 &,
    .memo-custom-cms-category-grid-container-size--7 &,
    .memo-custom-cms-category-grid-container-size--8 & {
        @include media-breakpoint-up(md) {
            flex-basis: 33.3333%;
            width: 33.3333%;
            max-width: 33.3333%;
        }
    }

    .memo-custom-cms-category-grid-container-size--4 & {
        @include media-breakpoint-up(lg) {
            flex-basis: 25%;
            width: 25%;
            max-width: 25%;
        }
    }

    .memo-custom-cms-category-grid-container-size--5 &,
    .memo-custom-cms-category-grid-container-size--6 &,
    .memo-custom-cms-category-grid-container-size--7 &,
    .memo-custom-cms-category-grid-container-size--8 & {
        @include media-breakpoint-up(lg) {
            flex-basis: 20%;
            width: 20%;
            max-width: 20%;
        }
    }

    .memo-custom-cms-category-grid-container-size--6 & {
        @include media-breakpoint-up(xl) {
            flex-basis: 16.6666%;
            width: 16.6666%;
            max-width: 16.6666%;
        }
    }

    .memo-custom-cms-category-grid-container-size--7 & {
        @include media-breakpoint-up(xl) {
            flex-basis: 14.2857%;
            width: 14.2857%;
            max-width: 14.2857%;
        }
    }

    .memo-custom-cms-category-grid-container-size--8 & {
        @include media-breakpoint-up(xl) {
            flex-basis: 12.5%;
            width: 12.5%;
            max-width: 12.5%;
        }
    }
}

.memo-custom-cms-category-grid-item-inner {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    background-color: $memoCategoryGridCardBg;
}

.memo-custom-cms-category-grid-item-top {
    position: relative;
}

.memo-custom-cms-category-grid-item-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: $memoCategoryGridImageProportions;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.memo-custom-cms-category-grid-item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 350ms ease;
    background-color: rgba(#000, 0.5);
    color: #FFF;
    padding: 20px 27px;

    .memo-custom-cms-category-grid-item:hover & {
        opacity: 1;
    }
}

.memo-custom-cms-category-grid-item-description-inner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 23px;
}

.memo-custom-cms-category-grid-item-title {
    padding: 17px 20px;
    transition: color 350ms ease;
}
