$memoHeaderMinHeight: 100vh !default;
$memoHeaderMinHeightTablet: 90vh !default;
$memoHeaderMinHeightMobile: 70vh !default;
$memoHeaderNavigationHeight: 158px !default;
$memoHeaderNavigationHeightTablet: 130px !default;
$memoHeaderNavigationHeightMobile: 60px !default;
$memoHeaderPaddingVertical: 40px !default;
$memoHeaderPaddingVerticalTablet: 40px !default;
$memoHeaderPaddingVerticalMobile: 20px !default;
$memoHeaderPaddingHorizontal: 20px !default;
$memoHeaderPaddingHorizontalTablet: 20px !default;
$memoHeaderPaddingHorizontalMobile: 20px !default;

.memo-custom-cms-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $memoHeaderMinHeightMobile;
    width: 100%;
    position: relative;
    padding: $memoHeaderPaddingVerticalMobile $memoHeaderPaddingHorizontalMobile;

    .cms-image-container,
    .cms-element-image-slider,
    .cms-element-image-slider .image-slider,
    .cms-element-image-slider .image-slider .tns-outer,
    .cms-element-image-slider .image-slider .tns-inner,
    .cms-element-image-slider .image-slider .image-slider-container,
    .cms-element-image-slider .image-slider .image-slider-item-container,
    .cms-element-image-slider .image-slider .image-slider-item {
        height: 100%;
    }

    .cms-image-container,
    .cms-element-image-slider,
    .cms-element-image-slider .image-slider,
    .cms-element-image-slider .image-slider .tns-outer,
    .cms-element-image-slider .image-slider .tns-inner,
    .cms-element-image-slider .image-slider .image-slider-container,
    .cms-element-image-slider .image-slider .image-slider-item {
        width: 100%;
    }

    .cms-element-image-slider .image-slider .tns-ovh {
        height: 100% !important;
    }

    .cms-image-container,
    .tns-ovh {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.3);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include media-breakpoint-up(md) {
        min-height: $memoHeaderMinHeightTablet;
        padding: $memoHeaderPaddingVerticalTablet $memoHeaderPaddingHorizontalTablet;
    }

    @include media-breakpoint-up(lg) {
        min-height: $memoHeaderMinHeight;
        padding: $memoHeaderPaddingVertical $memoHeaderPaddingHorizontal;
    }
}

.memo-custom-cms-header-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.memo-custom-cms-header-text {
    position: relative;
    width: 700px;
    max-width: 100%;
    padding: 0 10px;
    text-align: center;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    line-height: 1;
}

.header-pos-absolute~ .content-main .cms-section-overlay .cms-block.pos-0.cms-block-header {
    padding-top: 0;

    .memo-custom-cms-header {
        padding-top: ($memoHeaderNavigationHeightMobile + $memoHeaderPaddingVerticalMobile);

        @include media-breakpoint-up(md) {
            padding-top: ($memoHeaderNavigationHeightTablet + $memoHeaderPaddingVerticalTablet);
        }

        @include media-breakpoint-up(lg) {
            padding-top: ($memoHeaderNavigationHeight + $memoHeaderPaddingVertical);
        }
    }
}
