.full-width .memo-custom-masonry_galerie{
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.memo-custom-masonry_galerie{
    display:block;
    padding:10px;
    @include media-breakpoint-up(sm) {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, 200px);
        grid-auto-flow: dense;
        padding: 0px;
        margin: 0;
    }
    width: 100%;



    >div {
        @supports (display:grid){
            height:auto;

        }
        flex: 1 0 30%;
        padding: 0rem;
        border-radius: 3px;
        overflow:hidden;

        .cms-element-image {
            margin-bottom:10px;
            img {width:100%;max-width: none;}

            a.cms-image-link{
                height:100%;
                overflow:hidden;
            }

            .cms-image-container {
                min-height: 320px;

                &.is-cover {
                    img {
                        position: relative;
                        @include media-breakpoint-up(sm) {
                            position: absolute;
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    min-height: inherit;
                    margin-bottom: 10px;
                }
            }
        }

    }
    >div:nth-child(1),
    >div:nth-child(9),
    span-2{
        grid-column-end: span 2;
        grid-row-end: span 1;
    }
    >div:nth-child(4),
    >div:nth-child(7),
    .colspan-2 {
        grid-column-end: span 1;
        grid-row-end: span 2;
    }

    >div:nth-child(5),
    .square{
        grid-column-end: span 2;
        grid-row-end: span 2;
    }
}
