.memo-custom-cms-round-image-text {
    font-size: 0px;
    padding: 15px;
}

.memo-custom-cms-round-image-text-image-wrapper {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto 50px;

    @include media-breakpoint-up(md) {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        margin-bottom: 0;
        max-width: none;
    }

    @include media-breakpoint-up(xl) {
        width: 15%;
    }
}

.memo-custom-cms-round-image-text-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.memo-custom-cms-round-image-text-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .cms-image-container {
        min-height: 0 !important;
        border-radius: 50%;
        overflow: hidden;
    }
}

.memo-custom-cms-round-image-text .memo-custom-cms-round-image-text-text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;

    .memo-custom-cms-round-image-text-text-title {
        .memo-custom-cms-textline {
            @extend .h3;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .memo-custom-cms-round-image-text-text-title,
    .memo-custom-cms-round-image-text-text-description {
        max-width: 700px;
    }

    .memo-custom-cms-header-description {
        max-width: none;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1.41;
    }

    @include media-breakpoint-up(md) {
        width: 70%;
        padding-left: 50px;
        text-align: left;
    }

    @include media-breakpoint-up(xl) {
        width: 85%;
        padding-left: 100px;
    }
}
