.memo-custom-cms-small-top-image-text {
    font-size: 0px;
    padding: 15px;
    margin-bottom: -40px;

    .memo-custom-cms-small-top-image-text-item {
        margin-bottom: 40px;
    }
}

.memo-custom-cms-small-top-image-text-image-wrapper,
.memo-custom-cms-small-top-image-text-text {
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.memo-custom-cms-small-top-image-text-image-wrapper {
    &:not(:last-child) {
        margin-bottom: 40px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }
}

.memo-custom-cms-small-top-image-text-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.memo-custom-cms-small-top-image-text-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .cms-image-container {
        min-height: 0 !important;
        overflow: hidden;
    }
}

.memo-custom-cms-small-top-image-text-text {
    text-align: center;

    .memo-custom-cms-small-top-image-text-text-title {
        .memo-custom-cms-textline {
            @extend .h3;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .memo-custom-cms-small-top-image-text-text-title,
    .memo-custom-cms-small-top-image-text-text-description {
        display: block;
        max-width: 700px;
        margin: 0 auto;
    }

    .memo-custom-cms-header-description {
        max-width: none;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 1.41;
    }
}
