.cms-element-memo-category-navigation {
    @include media-breakpoint-down(md) {
        display: none;
    }

    .category-navigation-link-container {
        position: relative;

        .category-navigation-link {
            transition: color 350ms ease;

            &.has-children {
                padding-right: 0;
            }
        }

        button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            height: 100%;
            border: none;
            background: transparent;
            margin-left: 5px;
            padding: 10px;

            svg {
                transition: transform 0.3s ease, color 0.3s ease;
                width: 14px;
                color: $sw-text-color;
                top: 0;
            }

            &:hover {
                svg {
                    color: $sw-color-brand-secondary;
                }
            }

            &[aria-expanded="true"] {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}
